body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
    background-color:#add8e5;
 }
 .menu{
   display: flex;
   justify-content: space-between; /* separa logo e menu*/ 
   align-items: center;
   background-color: #eee;
   padding: 15px 30px;
 }
 .logo{
   color: red;
   font-size: 24px;
   font-weight: bold;
 }
 .menu-link {
   text-decoration: none;
    display: flex;
   gap: 25px;}
   
      .menu-link a{
   text-decoration: none;
   color: #555;
     font-size: 16px;
   transition: 0.3s;
    display: flex;
   gap: 25px;
   }
     
   .menu-link a:hover{
      color: red;
   }
   .menu-link .ativo{
      color: red;
      font-weight: bold;
   
 }
 .menu-link a{
   text-decoration: none;
 }
 body{

 }
 h1 { 
    color: white;
    text-align: center; 
 }
p{
   font-family: Verdana;
   font-size: 20px;
   
}